version: '3.8'
services:
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
        - redis_data:/data
  mysql:
    image: mysql:8
    container_name: kramola_mysql
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kramola
      MYSQL_USER: kramola
      MYSQL_PASSWORD: kramola
    volumes:
      - mysql_data:/data
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
  selenium:
    image: selenium/standalone-chrome:latest
    container_name: selenium
    ports:
      - "4444:4444"
      - "5900:5900"
  web:
    build: .
    container_name: kramola_2_5
    ports:
      - '5000:5000'
    volumes:
      - .:/app

    depends_on:
      redis:
        condition: service_started
      mysql:
        condition: service_healthy
    environment:
      FLASK_APP: app.py
      FLASK_DEBUG: 1
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_USER: kramola
      MYSQL_PASSWORD: kramola
      MYSQL_DATABASE: kramola
    command: flask run --host=0.0.0.0

volumes:
  redis_data:
  mysql_data: