Flask
python-docx
nltk
gunicorn
navec
PyMuPDF
pytesseract
Pillow
pandas
opencv-python-headless
numpy
pymorphy3
pymorphy3-dicts-ru
concurrent-log-handler
Flask-Executor
redis
python-dotenv
selenium
odfpy
openpyxl
pytest
flask-socketio
eventlet
docx2pdf
Flask-SQLAlchemy>=3.1.0
Flask-Migrate>=4.0.0
PyMySQL>=1.1.0
cryptography>=41.0.0
Flask-Admin[sqlalchemy]>=2.0.0
Flask-Login>=0.6.0