{% extends 'admin/master.html' %}
{% from 'admin/components/page_title.html' import page_title %}

{% block body %}
<div class="container-fluid flex flex-col items-center pt-[100px]">
  {{ page_title('Вход в панель Администратора', centered=true) }}
  <form method="post" action="{{ url_for('admin_auth.login') }}" class="w-full max-w-xs">
    <input type="hidden" name="next" value="{{ next or '' }}">
    <div class="relative mb-3">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <input type="text" id="username" name="username" placeholder="Логин" required autofocus class="inputField inputField__default inputField__withIcon">
    </div>
    <div class="relative mb-3">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </div>
      <input type="password" id="password" name="password" placeholder="Пароль" required class="inputField inputField__default inputField__withIcon">
    </div>
    {% if error %}
    <div class="mb-3 p-3 rounded-lg bg-red-100 text-red-800 border border-red-200" role="alert"><i class="fa fa-exclamation-circle"></i> {{ error }}</div>
    {% endif %}
    <div class="flex justify-center">
      <button type="submit" class="btn btn__primary w-full">Войти</button>
    </div>
  </form>
</div>
{% endblock %}
