{% extends admin_base_template %}
{% import 'admin/layout.html' as layout with context %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block main_menu %}
{% if current_user.is_authenticated %}
<ul class="nav navbar-nav mr-auto">
    {{ layout.menu() }}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-ready-lists" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Готовые списки</a>
        <div class="dropdown-menu" aria-labelledby="navbar-ready-lists">
            {% for item in admin_words_lists() %}
            <a class="dropdown-item d-flex justify-content-between align-items-center gap-4" href="{{ url_for(item.endpoint + '.index') }}">
                <span>{{ item.title }}</span>
                <span class="rounded-full px-2.5 py-0.5 text-xs font-medium bg-gray-200 text-gray-800">{{ item.count }}</span>
            </a>
            {% endfor %}
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ url_for('highlight.index') }}">Сервис</a>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated %}
<a class="nav-link text-white" href="{{ url_for('admin_auth.logout') }}"><i class="fa fa-sign-out"></i> Выход</a>
{% endif %}
{% endblock %}
