{% extends admin_base_template %}
{% import 'admin/layout.html' as layout with context %}

{% block main_menu %}
{% if current_user.is_authenticated %}
<ul class="nav navbar-nav mr-auto">
    {{ layout.menu() }}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-ready-lists" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Готовые списки</a>
        <div class="dropdown-menu" aria-labelledby="navbar-ready-lists">
            <a class="dropdown-item" href="{{ url_for('foreign_agents.profanity') }}">Матные слова</a>
            <a class="dropdown-item" href="{{ url_for('foreign_agents.prohibited_substances') }}">Запрещенные вещества</a>
            <a class="dropdown-item" href="{{ url_for('foreign_agents.swear_words') }}">Ругательства</a>
        </div>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated %}
<a class="nav-link text-white" href="{{ url_for('admin_auth.logout') }}">Выход</a>
{% endif %}
{% endblock %}
