@import "gridjs/dist/theme/mermaid.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .formLabel {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .inputField {
    @apply block w-full rounded-lg border border-gray-300 py-2 px-3 text-sm;
  }
  .inputField__default {
    @apply bg-white placeholder-gray-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
  }
  .inputField__withIcon {
    @apply pl-10 pr-3;
  }
  .inputField__disabled {
    @apply bg-gray-100 text-gray-700 cursor-not-allowed;
  }

  .btn {
    @apply px-4 py-2 rounded;
  }
  .btn__primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-0;
  }
  .btn__secondary {
    @apply border border-gray-300 bg-white text-gray-700 hover:bg-gray-50;
  }
}
